
<div>
        <%= form_for(@repair) do |f| %>
        <strong><%= f.label :repair_description %></strong>
        <%= f.text_field :repair_description, class:"form-control" %><br>
        <strong><%= f.label :repair_cost %></strong>
        <%= f.text_area :repair_cost, class:"form-control" %><br>
        
        <strong><%= f.label :repair_needed %></strong>
        <%= f.check_box :repair_needed, class:"form-control" %><br>
        <p>or</p>
        <strong><%= f.label :repair_completed %></strong>
        <%= f.check_box :repair_completed, class:"form-control" %><br>

        <%= f.submit submit_text %>
        <% end %>
    </div>


<p> NOTES: Add a select box to select which property the repair belongs to</p>
<p> NOTES: Add a image url of what needs repaired</p>


    
  